@{
    ViewBag.Title = "Nosotros";
}
<div class="wrapper">
    <div class="sidebar-wrapper">
        <div class="container">
            <div class="row">
                <div class="logo1">
                    <img src="https://utap.edu.co/sitio/wp-content/uploads/2019/10/mision.png" alt="logo1" style="width:60%" class="mx-auto d-block">
                </div>
            </div>
            <br>
            <br />
            <div class="row">
                <p class="text-justify">La Fundación Tecnológica Autónoma del Pacífico es una institución de educación superior, formadora de profesionales íntegros con liderazgo y pertinencia social a través de la docencia, la investigación, las relaciones con el sector externo y el bienestar institucional, componentes que articulan el valor competitivo y comparativo de sus egresados como actores del desarrollo económico, político, social, ambiental y cultural.</p>
            </div>
            <br>
            <br />
            <div class="row">
                <div class="logo2">
                    <img src="https://utap.edu.co/sitio/wp-content/uploads/2019/10/vision.png" alt="logo" style="width:60%" class="mx-auto d-block">
                </div>
            </div>
            <br>
            <br />
            <div class="row">
                <p class="text-justify">La Fundación Tecnológica Autónoma del Pacífico será reconocida municipal, regional, nacional e internacionalmente, como una institución de educación Superior, por sus altos estándares de calidad, el liderazgo de sus egresados, la investigación, las relaciones con el sector externo y su impacto en la sociedad, garantizado por el mejoramiento comunitario a través del impulso a la economía en los diferentes contextos.</p>
            </div>
        </div>
    </div>
</div>
