
@{
    ViewBag.Title = "DescargarHV";
}

<div class="wrapper">
    <div class="sidebar-wrapper">
        <div class="container">
            <div class="cm-md-12">
                <div class="row" style="color:midnightblue">
                    <h2>Descargar Hoja De Vida</h2>
                </div>
                <br />
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <input type="file" name="file" />
                    </div>
                    <br />
                    <div class="row">
                        <button class="alert-primary" style="color:white" type="submit">Descargar Hoja De Vida</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>
