
@{
    ViewBag.Title = "Directorios";
}

    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="container">
                <img src="https://utap.edu.co/sitio/wp-content/uploads/2019/12/telefonos2-1.png" alt="directorio" style="width:100%" class="mx-auto d-block">
            </div>
        </div>
    </div>