@{
    ViewBag.Title = "Inicio";
}
<div class="wrapper">
    <div class="sidebar-wrapper">
        <div class="container">
            <img src="https://utap.edu.co/sitio/wp-content/uploads/2019/09/SLIDER-modificado-1685x499.jpg" alt="sede" style="width:100%" class="mx-auto d-block">
        </div>
    </div>
    <div class="col-md-12">
        <div class="container">
            <div class="row" style="color:midnightblue">
                <h2>PROGRAMAS TECNOLÓGICOS</h2>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <i class="nc-icon nc-send "></i>
                    <a style="color:midnightblue" href="https://utap.edu.co/sitio/comercio-exterior-y-negocios/" role="button">Comercio Exterior y Negocios Internacionales</a>
                </div>
                <div class="col-md-4">
                    <i class="nc-icon nc-tap-01" ></i>
                    <a style="color:midnightblue" href="https://utap.edu.co/sitio/desarrollo-de-sistemas-informaticos/" role="button">Desarrollo de Sistemas Informáticos</a>
                </div>
                <div class="col-md-4">
                    <i class="nc-icon nc-palette"></i>
                    <a style="color:midnightblue" href="https://utap.edu.co/sitio/diseno-grafico-publicitario/" role="button">Diseño Gráfico y Publicitario</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <i class="nc-icon nc-money-coins"></i>
                    <a style="color:midnightblue" href="https://utap.edu.co/sitio/gestion-administrativa-y-financiera/" role="button">Gestión Administrativa y Financiera</a>
                </div>
                <div class="col-md-4">
                    <i class="nc-icon nc-chart-bar-32"></i>
                    <a style="color:midnightblue" href="https://utap.edu.co/sitio/gestion-comercial-y-mercadeo/" role="button">Gestión Comercial y Mercadeo</a>
                </div>
                <div class="col-md-4">
                    <i class="nc-icon nc-chat-round"></i>
                    <a style="color:midnightblue" href="https://utap.edu.co/sitio/gestion-comunicacion-medios/" role="button">Gestión de la Comunicación en Medios</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <i class="nc-icon nc-settings-tool-66"></i>
                    <a style="color:midnightblue" href="https://utap.edu.co/sitio/instrumentacion-electronica/" role="button">Instrumentación Electrónica</a>
                </div>                
            </div>
        </div>
    </div>
   
</div>