
@{
    ViewBag.Title = "RedesSociales";
}

<div class="wrapper">
    <div class="sidebar-wrapper">
        <div class="container">
            <div class="row" style="color:midnightblue">
                <h5><strong>Redes Sociales</strong></h5>
            </div>



            <div class="row">
                <div class="logo1">
                    <a href="https://www.facebook.com/UTAPCALI/"><img height="45" width="45" src="https://2.bp.blogspot.com/-28mh2hZK3HE/XCrIxxSCW0I/AAAAAAAAH_M/XniFGT5c2lsaVNgf7UTbPufVmIkBPnWQQCLcBGAs/s1600/facebook.png"></a>

                    <a href="https://twitter.com/utapcali"><img height="45" width="45" src="https://3.bp.blogspot.com/-E4jytrbmLbY/XCrI2Xd_hUI/AAAAAAAAIAo/qXt-bJg1UpMZmTjCJymxWEOGXWEQ2mv3ACLcBGAs/s1600/twitter.png"></a>

                    <a href="https://www.instagram.com/utapcali/"><img height="45" width="45" src="https://4.bp.blogspot.com/-Ilxti1UuUuI/XCrIy6hBAcI/AAAAAAAAH_k/QV5KbuB9p3QB064J08W2v-YRiuslTZnLgCLcBGAs/s1600/instagram.png"></a>

                    <a href="http://wa.me/573503024709"><img height="45" width="45" src="https://2.bp.blogspot.com/-hJd7RLbG6dQ/XCrI389R_CI/AAAAAAAAIA8/2zdJ54oo7GAjqppIbfin0jvgf6cvk3VPgCLcBGAs/s1600/whatsapp.png"></a>

                    <a href="https://www.youtube.com/watch?v=O91MctxOn7s"><img height="45" width="45" src="https://1.bp.blogspot.com/-cAN1e-Ti9vM/XCrI4PCP8OI/AAAAAAAAIBE/AZmwfLUHlAsdyoQrMdCcOBV3hO2asAeyQCLcBGAs/s1600/youtube.png"></a>
                </div>
            </div>

        </div>
    </div>
</div>







